* {
    font-family: Roboto, sans-serif;
}
#inp_qty {
    width: 50px;
}
#imgdetail {
    width: 150px;
}
.cart_description {
    width: 300px;
}
.sort:hover {
    cursor: pointer;
}
.productinfo:hover {
    transform: scale(1.05);
    background-color: lightgray;
    transition: 1s;
}
.cart:hover {
    color: black;
    transition: 1s;
}
